.header {
    display: flex;
    max-width: 100%;
    min-height: 52px;
    flex-direction: row;
    padding-top: 28px;
    padding-left: 48px;
    padding-right: 48px;
    justify-content: space-between;
    align-items: end;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .header {
        min-height: 42px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        padding-top: 28px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
}