.place__link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
 }

 .place__link:hover {
    transition: opacity .3s ease;
    opacity: .8;
 }